*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow: hidden;
}

.section-home {
    position: relative;
    /* top: 30%; */
    left: 7%;
}

.logo{
    margin-top: 30px;
    position: relative;
    left: 3%;
}

.book {
   background: linear-gradient(-111deg, #e3c386 0%, #e3c386 50%,#fff 50%);
   height: 100vh;

   /* position: absolute; */
}

.h1{
    
    position: absolute;
    left: 3%;
    top: 30%;
}

h1{
    font-family: 'Poppins';
    font-weight: 800;
    margin-bottom: 22px;
    position: relative;
}

p{
    font-family: 'Nunito';
    font-weight: 400;
}

.human_img {
    position: relative;
    bottom: 12rem;
    height: 35rem;
    left: 25rem;
}

.empty {
    position: relative;
    bottom: 30rem;
    text-decoration: none;
    padding: 10px 42px;
    border-radius: 5px;
    color: transparent;
    background-color: #006266;
}

.social{
    position: absolute;
}

.social-links{
    position: relative;
    bottom: 27rem;
    right: 4em;
    border: 1px solid #F9E3BA;
    border-radius: 50px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
}

.social-links li{
    list-style: none;
    margin-bottom: 1rem;
    position: relative;
    top: 2px;
}